{% extends 'app_ecom/base.html' %}
{% block title %}index{% endblock title %}


{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://css.gg/shopping-cart.css' rel='stylesheet'>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

{% endblock head %}

{% block css %}
<style>
    
    
    .main_image{
        background-color: black;
        width: 100%;
        height: 400px;
        background-color: black;
        z-index: -1000;
        box-shadow: 1px 12px 8px 2px rgba(0, 0, 0, 0.27);
        /* overflow: hidden; */
    }
    .main_image img{
        /* background-image: url(/images/app_ecom/images/shoes.png) cover; */
        position: relative;
        top: -9em;
        left: 51em;
        transform: rotate(-30deg);
        height: 35em;
        width: 30em;
        margin-right: 5em;
        z-index:1;
        /* display: none; */
        z-index: -0.5;
        filter: drop-shadow(5px 8px 4px #ffffff47);
        
        animation-name: levitate_img;
        animation-timing-function: ease;
        animation-duration: 2s;
        
    }
    
    .main_image h1{
        font-family: "Sofia", sans-serif;
        color: white;
        margin: 0px;
        font-size: 350%;
        width: auto;
        z-index: 2;
        position: relative;
        top: 100px;
        padding-left: 8px;
    }
    .main_image h1::after{
        content: "";
        background-color: white;
        height: 3px;
        width: 200px;
        position: absolute;
        left: 0px;
        top: -2px;
        animation: heading_after_movement;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        
    }
    
    @keyframes heading_after_movement{
        0%{
            left: 0px;
            top: -2px;
        }
        25%{
            left: 10%;
            width: 220px;
        }
        50%{
            left: 23%;
            width: 100px;
        }
        75%{
            left: 10%;
            width: 220px;
        }
        100%{
            left:0%;
            width: 100px;
            
        }
    }
    .rotate_circle{
        position: absolute;
        top: 200px;
        left: -184px;
        background: transparent;
        height: 180px;
        width: 180px;
        z-index: 100000;
        border-radius: 50%;
        background: url(/images/app_ecom/images/bubble_new.png) no-repeat;
        
        /* border-top: 5px solid rgb(210, 56, 56);
        border-bottom: 5px solid rgb(36, 85, 207); */
        /* border-right: 4px solid green; */
        
        animation-name: float_around;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-play-state: running;
        
        
        /* display: none; */
        
        
    }
    @media (max-width: 550px){
        .rotate_circle{
            width: 120px;
            height: 120px;
        }
    }
    .main_image button{
        /* background: transparent; */
        width: 120px;
        position: relative;
        top: 170px;
        left: 30px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0);
        border: 0.5px solid white;
        border-radius: 8px;
        color: white
        
    }
    
    @keyframes float_around{
        0%{
            position: absolute;
            top: 200px;
            left: -124px;
            transform: rotate(0deg);
            
            height: 180px;
            width: 180px;
        }
        33%{
            position: absolute;
            left: 29%;
            top: 100px;
            
            height: 220px;
            width: 220px;
        }
        66%{
            position: absolute;
            left: 0%;
            top: 200px;
            
            height: 200px;
            width: 200px;
        }
        100%{
            position: absolute;
            top: 200px;
            left: -124px;
            transform: rotate(720deg);
            
            height: 180px;
            width: 180px;
        }
        
    }
    
    @media (max-width: 1170px){
        .main_image img{
            display: none;
        }
    }
    
    @media (max-width: 500px){
        .main_image h1{
            font-size: 250%;
        }
    }
    
    
    
    .categories_box{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-y: auto;
        justify-content: space-evenly;
        height: 367px;
        margin-left: 10px;
        padding-left: 8px;
        /* scrollbar-color: dark; */
        /* overflow: hidden; */
        scrollbar-width: 1px;
        scrollbar-color: red;
        
        
        
    }
    /* width */
    ::-webkit-scrollbar {
        width: 3px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.092);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.184);
    }
    
    
    .categories_content{
        /* border-bottom: 0.5px solid rgb(0, 123, 184); */
        /* border-radius: 10px; */
        width: auto;
        display: flex;
        flex-direction: column;
        height: 310px;
        width: 200px;
        box-shadow: 1px -5px 9px 2px rgba(128, 128, 128, 0.44);
        margin-right: 8px;
        margin-left: 8px;
        transition-property: all;
        transition-duration: 0.3s;
    }
    .categories_content:hover{
        transform: translateY(-8px);
    }
    .categories_content_images{
        height: 220px;
        width: 100%;
        
    }
    .category_heading{
        padding-left: 20px;
        font-size: 24px;
        margin-bottom: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }
    .categories_content_price{
        height: 20px;
        font-size: 20px;
        text-align:right;
        padding-right: 10px;
        padding-top: 4px;
        /* color: rgb(0, 170, 255); */
        color: rgb(46 186 255);
        font-weight: 400;
    }
    .categories_content_heading{
        font-size: 14px;
        padding-left: 9px;
        margin: 0px;
        width: 110px;
        /* border: 1px solid red; */
        position: relative;
        top: -41px;
        font-weight: 10;
        overflow-wrap: normal;
        /* border: 1px solid red; */
        min-height: 37px;
    }
    .fa{
        color:rgb(164, 164, 164);
        filter: drop-shadow(1px 1px 1px #9b9b9b);
        height: auto;
        width: auto;
        position: relative;
        left: 38%;
        bottom: 67%;
        border: none;
        background: transparent;
        font-size: 20px;
        z-index: 10;
        cursor:pointer;
        
        transition-property: all;
        transition-duration: 0.2s;
        transform: scale(1);
        
    } 
    .categories_content_button1{
        width: 90px;
        height: 30px;
        position: relative;
        top: 25px;
        right: -102px;
        border-radius: 6px;
        border: 1px solid rgb(0, 123, 184);
        background-color: rgb(0, 170, 255);
        color: white;
        
        transition-property: all;
        transition-duration: 0.2s;
        
        display: none;
        
    }
    .categories_content_button2{
        width: 90px;
        height: 30px;
        position: relative;
        top: -5px;
        right: -4px;
        border-radius: 6px;
        border: 1px solid rgb(0, 123, 184);
        background-color: white;
        
        color: rgb(0, 123, 184);
        
        transition-property: all;
        transition-duration: 0.2s;
        
        display: none;
        
    }
    .categories_content_button1:hover{
        background-color: rgb(0, 116, 174);
    }
    .categories_content_button2:hover{
        background-color: rgba(0, 116, 174, 0.144);
    }
    
    .categories_content_addtocart{
        background-color: rgb(36, 145, 199);
        position: relative;
        bottom: 32px;
        width: 90%;
        height: 32px;
        padding: 6px 20px;
        left: 10px;
        color: white;
        border-radius: 5px;
        border: 0px;
        text-align: center;
        
        transition: all;
        transition-duration: 0.3s;
        
    }
    .categories_content_addtocart:hover{
        background-color: rgb(28, 116, 160);
    }
    .img_cart{
        /* background: url(/images/app_ecom/images/cart.png) cover no-repeat; */
        height: 27px;
        width: 27px;
        position: relative;
        margin: 0px;
        padding: 0px;
        /* display: none; */
        top: -2px;
        left: -14px;
        
    }
    .categories_content_addtocart_text{
        position: relative;
        top: -11.5px;
        left: -8px;
    }
    
    
    
    
   
</style>
{% endblock css %}


{% block body %}
<div class="main_image">
    <span class="rotate_circle"></span>
    <h1>Fantasy Stores at Your Doors</h1>
    <img src="/images/app_ecom/images/shoes.png"> 
    <button>View Owner</button>
    
</div>


<div class="container_index">
    
    
    
    {% for c in categories %}
    
    <h1 class="category_heading">{{c}}</h1>
    <div class='categories_box' id='categories_box{{forloop.counter}}'>
        
        {% for p in product %}

            

            {% if c == p.product_category %}


                <!-- categories_content_{{forloop.parentloop.counter}}_{{forloop.counter}}                 -->
                <div class='categories_content' id='product_{{p.id}}'>
                    <a href="product_view{{p.id }}">
                        <img src='/images/{{p.image}}' class='categories_content_images' id='categories_content_images{{forloop.parentloop.counter}}_{{forloop.counter}}'>
                    </a>
                    <button onclick="favourites_clicked(this.id)" class="fa fa-heart" id="categories_content_images_like_{{forloop.parentloop.counter}}_{{forloop.counter}}"></button>
                    <div class="categories_content_price" id="categories_content_price_{{forloop.parentloop.counter}}_{{forloop.counter}}">
                        Rs {{p.price}}
                    </div>
                    <h2 class="categories_content_heading" id="categories_content_heading_{{forloop.parentloop.counter}}_{{forloop.counter}}">
                        {{p.product_name}}
                    </h2>
                    
                    <button  class="categories_content_addtocart cart_" id="categories_content_addtocart_{{p.id}}" >
                        <img class="img_cart" src="/images/app_ecom/images/cart_2.png"></img>
                        <span class="categories_content_addtocart_text">Add to Cart</span>
                    </button>
                </div>
                
                
                
                {%endif%}
                
                {%endfor%}
                
            </div>
            
            {%endfor%}
            
            
        </div>
        
{% endblock body %}



    
{% block js %}


    <script type="text/javascript">


        if(localStorage.getItem('cart_') == null){
            var cart_ = {}
        }
        else{
            cart_ = JSON.parse(localStorage.getItem('cart_'));
            var objects_in_cart = Object.keys(cart_).length;    
        }



        function favourites_clicked(b){

            
            var b = document.getElementById(b)
            
            
            
            b.style.color = 'rgb(255, 44, 44)';
            b.style.scale = '1.2'
            
            
        }

        
        if(localStorage.getItem('cart_') == null){
            var cart_ = {}
        }
        else{
            cart_ = JSON.parse(localStorage.getItem('cart_'));
            var objects_in_cart = Object.keys(cart_).length;    
        }

        console.log(cart_)

        $('.cart_').click(function(){

            // console.log('hello')

            var p_id = this.id.toString();
            console.log(p_id);
            
            if(cart_[p_id] != undefined){
                cart_[p_id] += 1;
            }
            else{
                cart_[p_id] = 1;
            }


            
            console.log(cart_)
        localStorage.setItem('cart_', JSON.stringify(cart_));


        })

        // for(var i in cart) delete cart[i];
        
    </script>
{% endblock js %}
    
    

